<div class="heading">
  <h2><%= @entry.name %></h2>
  <p><%= @entry.description %></p>
</div>
<div class="container">
  <span class="show">
    <a href="/entry/picture/<%= @entry.id %>">
      <img src="/uploads/<%= @entry.id %>/1.png" />
    </a>
  </span><br>
  <span>Cohort:</span>
  <span>Phase:</span>
  <span>Languages:</span>
  <span>Date:</span><br>
  <a href="/edit/<%=@entry.id %>">Edit/Delete</a>
</div>