<div class="heading">
  <h2>Make new entry</h2>
</div>

<div class="container">
  <form action="/upload" enctype="multipart/form-data" method="post">
    <input type="text" name="entry[name]" placeholder="name" /><br>
    <input type="text" name="entry[description]" placeholder="description" /><br>
    <select name="cohort">
      <option>Cohort</option>
      <% @cohorts.each do |cohort| %>
        <option value="<%= cohort.name %>"><%= cohort.name %></option>
      <% end %>
    </select><br>
    <select name="phase">
        <option>Phase</option>
      <% @phases.each do |phase| %>
        <option value="<%= phase.name %>"><%= phase.name %></option>
      <% end %>
    </select><br>
    <select name="language">
      <option>Languages</option>
      <% @languages.each do |language| %>
        <option value="<%= language.name %>"><%= language.name %></option>
      <% end %>
    </select><br>
    <input type="file" name="file" /><br>
    <input type="submit" value="upload" />
  </form>
</div>
